<div class="prayers">
  <h1>Listando todas orações da categoria "<%= @category.title %>":</h1>
  <% @prayers.order(:body).each do |prayer| %>
    <div class='prayer'>
      <%= label_tag :preamble %>
      <input value="<%= prayer.preamble %>" class="preamble id<%= prayer.id %>" %>
      <%= label_tag :body %>
      <%= text_area_tag "prayer#{prayer.id}", prayer.body, class: "body body id#{prayer.id}" %>
      <%= label_tag :author %>
      <input class="author id<%= prayer.id %>" value="<%= prayer.author %>">
      <button data-id="<%= prayer.id %>">Salvar</button>
      <hr>
    </div>
  <% end %>
</div>